body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #0a0a0a;
    color: #eaeaea;
}

.box {
    max-width: 1100px;
    margin: auto;
    background: #121212;
    border: 1px solid #2a2a2a;
    border-radius: 12px;
    padding: 20px;
}
h1 {
    margin-top: 20px;
    padding: 8px;
    background: #1f1f1f;
    border-left: 4px solid #5d00ff;
    border-radius: 6px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: none;
    background: #fff;
    color: #000;
    font-size: 14px;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

label {
    font-size: 12px;
    color: #bbb;
}


/* PERICIAS E ATRIBUTOS*/
.titleperic{    
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    font-size: 30px;
    color: #eeff00;
}
.atb{
    width: 60px;
}
.peric{    
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #eeff00;
}

/* DESCRIÇÃO*/
h6{
    margin-top: 20px;
    padding: 8px;
    background: #1f1f1f;
    border-left: 4px solid #00c3ff;
    border-radius: 6px;
}
